.strategy-tree {
  text-align: left;
}

.strategy-tree .strategy-text {
  border: 1px solid #e1e6eb;
  border-radius: 3px;
  padding: 0 30px;
  font-weight: 400;
  text-align: left;
  touch-action: manipulation;
  white-space: nowrap;
  line-height: 40px;
  font-size: 14px;
  height: 40px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  z-index: 2;
  color: rgba(0, 0, 0, 0.65);
}

.strategy-text:last-child {
  background-color: #f5f6fa;
}

/*增加兄弟节点*/
.strategy-text .add-brother {
  height: 40px;
  width: 130px;
  position: absolute;
  left: -90px;
  top: 25px;
  opacity: 0;
}
.strategy-text:hover .add-brother {
  opacity: 1;
}
.add-brother:hover {
  opacity: 1;
}

/*增加子节点*/
.strategy-text .add-child {
  height: 40px;
  position: absolute;
  left: 40px;
  top: 30px;
  opacity: 0;
  padding-top: 12px;
}
.strategy-text:hover .add-child {
  opacity: 1;
}
.add-child:hover {
  opacity: 1;
}

.strategy-tree ul {
  margin-left: 130px;
}

.strategy-tree li {
  position: relative;
  margin: 30px 0 0;
}

.strategy-tree .tree-has-child {
  position: relative;
}

.strategy-tree .tree-has-condition {
  position: absolute;
  top: 5px;
  left: -102px;
  font-size: 12px;
  width: 100px;
  text-align: center;
  color: #14a137;
}

/*.tree-has-condition:before {
  position: absolute;
  top: 13px;
  left: -8px;
  content: '';
  width: 105px;
  height: 1px;
  border-bottom: 2px solid #999;
}*/

/*.strategy-tree li:not(last-child):before, .tree-has-child:before {*/
/*.tree-has-child:before {
  position: absolute;
  top: 40px;
  left: 24px;
  content: '';
  border-left: 2px solid #999;
  width: 1px;
  height: 100%;
}*/

.strategy-tree li:before {
  position: absolute;
  top: -30px;
  left: -105px;
  content: '';
  border-left: 2px solid #999;
  width: 1px;
  height: calc(100% + 80px);
}

.strategy-tree li:after {
  position: absolute;
  top: 20px;
  left: -105px;
  content: '';
  border-top: 2px solid #999;
  height: 20px;
  width: 105px;
}

.strategy-tree li:last-child:before {
  position: absolute;
  top: -30px;
  left: -105px;
  content: '';
  border-left: 2px solid #999;
  width: 1px;
  height: 50px;
}

.strategy-tree > ul > li::before, .strategy-tree > ul > li::after {
  border: 0;
}

.strategy-tree > ul {
  margin-left: 0;
}