.strategy-tree {
  text-align: left;
  margin: 15px;
}
.strategy-text {
  padding: 0 30px;
  font-weight: 400;
  text-align: left;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid #ccc;
  white-space: nowrap;
  line-height: 40px;
  font-size: 14px;
  border-radius: 0;
  height: 40px;
  user-select: none;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  color: rgba(0, 0, 0, 0.65);
}
.strategy-tree ul {
  margin-left: 130px;
}
.strategy-tree li {
  position: relative;
  margin: 30px 0 0;
}

.tree-has-child {
  position: relative;
}

.tree-has-condition {
  position: absolute;
  top: 5px;
  left: -97px;
  font-size: 12px;
}

/*.tree-has-condition:before {
  position: absolute;
  top: 13px;
  left: -8px;
  content: '';
  width: 105px;
  height: 1px;
  border-bottom: 1px solid red;
}*/

/*.strategy-tree li:not(last-child):before, .tree-has-child:before {*/
/*.tree-has-child:before {
  position: absolute;
  top: 40px;
  left: 24px;
  content: '';
  border-left: 1px solid red;
  width: 1px;
  height: 100%;
}*/

.strategy-tree li:before {
  position: absolute;
  top: -30px;
  left: -105px;
  content: '';
  border-left: 1px solid red;
  width: 1px;
  height: calc(100% + 80px);
}
.strategy-tree li:after {
  position: absolute;
  top: 20px;
  left: -105px;
  content: '';
  border-top: 1px solid red;
  height: 20px;
  width: 105px;
}

.strategy-tree li:last-child:before {
  position: absolute;
  top: -30px;
  left: -105px;
  content: '';
  border-left: 1px solid red;
  width: 1px;
  height: 50px;
}

.strategy-tree>ul>li::before, .strategy-tree>ul>li::after {
  border: 0;
}
.strategy-tree>ul {
  margin-left: 0;
}